@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Signika:wght@500&display=swap');

:root {
    --cor0: #F5F5F7;
    --cor1: #6E6E73;
    --cor2: #000000;
    --cor3: #333333;
    --cor4: #141414;
    --cor5: #462106;
    --cor6: #b1b1b1;
    --cor7: #6E6E73;

    --fonte-padr達o: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Open Sans', sans-serif;
    --fonte-apple: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: var(--cor6);
    font-family: var(--fonte-padr達o);
}

header {
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    min-height: 200px;
    text-align: center;
    padding-top: 50px;
}

header > h1 {
    color: var(--cor0);
    font-family: var(--fonte-apple);
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px black;
    font-weight: normal;
}

header > p {
    color: var(--cor0);
    text-shadow: 2px 4px 4px #000000;
    font-family: var(--fonte-padr達o);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    
}

nav > a {
    color: #cdcdcd;
    font-family: var(--fonte-apple);
    text-decoration: none;  
    padding: 10px;
    font-weight: normal;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor6);
    color: var(--cor3);    
}

.colorido {
    background: linear-gradient(to bottom,
     #61BB46, #FEB827, #E13A3E, #963D96, #009DDD);

    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 50px;
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px #0000005f;
    border-radius: 0px 0px 10px 10px;
}

main img {
    max-width: 350px;
    display: block;
    margin: auto;
}

main > article >  h1 {
    color: var(--cor4);
    font-family: var(--fonte-apple);
    font-size: 1.5em;
    text-align: center;
}

main > article >  h2 {
    color: var(--cor1);
    font-family: var(--fonte-apple);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.1em;
    line-height: 2em;
}

main a {
    font-weight: bolder;
    color: var(--cor3);
    text-decoration: none;
    font-style: italic;
}

main a:hover {
    color: blue;
}

main strong {
    color: var(--cor5);
}

aside {
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 1px 1px 15px #0000006d;
    text-align: justify;
}

aside > h3 {
    background-color: var(--cor7);
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    padding: 6px;
    padding-left: 15px;
    margin: -10px -10px 0px -10px;
    border-radius: 0px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2754\00a0\00a0';
    line-height: 2em;
    padding: 10px;
}

aside > p > a {
    font-style: normal;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -50px 30px -50px;
    padding: 20px;
    padding-bottom: 59.9%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor2);
    text-align: center;
    color: var(--cor0);
    font-size: 0.8em;
    padding: 5px;
    font-family: var(--fonte-padr達o);
    letter-spacing: 1px;
}

footer > p > a {
    color: var(--cor7);
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2em;
}

footer > p > a:hover {
    color: blueviolet;
}

footer > p > strong {
    font-weight: bolder;
}